.bigg {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.n-about {
  display: inline-block;
  font-size: 20px;

  color: #000000;
}
.photo {
  transform: scale(1.5);
}
@media screen and (max-width: 900px) {
  .photo {
    transform: scale(0.8);
  }
}
